# Introduction To Series
---

#### *In this notebook we have:*
1. What is Series ?
2. Creating Series
    - Empty Series obj
    - Using List
    - Using array
    - From DataFrame
3. Indexing in Series
4. Accessing values in Series
---

## 1. What is Series?
* **Pre-defined class** in Pandas library.
* 1-D labeled array.
* Can store same and different types of the data.
* Stores data in sequential order.
* **one column** information

## 2. Creating Series

* ### Empty Series

In [1]:
import pandas as pd

#object creation of Series class
s = pd.Series() 
print(s) #prints empty series

print(type(s)) #prints the type of s

Series([], dtype: object)
<class 'pandas.core.series.Series'>

---
* ### Using List

In [2]:
l = [1,2,4,5,7,4] #List

s = pd.Series(l, name = "count")
print(s)

0    1
1    2
2    4
3    5
4    7
5    4
Name: count, dtype: int64

In [3]:
stu = ["Anjali", "Sung", "Lee"]

s = pd.Series(stu, name = "student")
print(s)

0    Anjali
1      Sung
2       Lee
Name: student, dtype: object

In [4]:
a = list(range(100))
s = pd.Series(a)
s.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

---
* ### Using Array

In [5]:
import numpy as np 

val = [1,2,4,6,3]

#converting list to array using numpy
data = np.array(val)

s = pd.Series(data)
print(s)

0    1
1    2
2    4
3    6
4    3
dtype: int64

In [6]:
val = ["Anjali", "Sung", "Lee"]
data = np.array(val)
s = pd.Series(data)
print(s)

0    Anjali
1      Sung
2       Lee
dtype: object

---
* ### Using DataFrame

In [7]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

# Creating DataFrame
df = pd.DataFrame(data)
print("1. df is ",type(df))

#Accessing a single column from DataFrame which is a Series
print("2. Name col under df is ",type(df.Name))

1. df is  <class 'pandas.core.frame.DataFrame'>
2. Name col under df is  <class 'pandas.core.series.Series'>

---
## 3. Indexing in Series

- Default index is 0,1,2,3 and so on
- For personalized index use '**index**' as a keyword argument in Series

In [8]:
v = [145, 142, 38, 13]
i = [10, 20, 30, 40]
s = pd.Series(v, name = 'counts', index = i )
print(s)

10    145
20    142
30     38
40     13
Name: counts, dtype: int64

---
## 4. Accessing values in Series

* Simply use the Index

In [9]:
count = [234,643,256,2654]
fruits = ["Blue Berry", "Banana", "Kiwi", "Custurd"]

s = pd.Series(count, name = 'fruits', index = fruits)
print("Here is the Series:")
print(s,"\n")

print("Accessing the Blue Berry Index:", s["Blue Berry"])

Here is the Series:
Blue Berry     234
Banana         643
Kiwi           256
Custurd       2654
Name: fruits, dtype: int64

Accessing the Blue Berry Index: 234

---