# Methods in Series Class
---

#### *In this notebook we have:*
1. head()
2. tail()
3. sum()
4. count()
5. mean()
6. describe()
7. unique()
8. nunique()
---

### Series Methods:
* Series being a class has predefined methods of its own.
* These methods perform operations on the Series values.
* These methods can be accessed by Series object.
---

## 1. head() method
* Returns first five values from the series

In [1]:
import pandas as pd

marks = [56, 45, 35, 41, 60, 57, 56, 56]
s = pd.Series(marks)

print(s.head()) #prints first 5 values from Series

0    56
1    45
2    35
3    41
4    60
dtype: int64

---
## 2. tail() method
* Returns last 5 values from the series

In [2]:
marks = [56, 45, 35, 41, 60, 57, 56, 56]
s = pd.Series(marks)

print(s.tail()) #prints last 5 rows/values of series

3    41
4    60
5    57
6    56
7    56
dtype: int64

---
## 3. sum() method
* Returns the sum of all values

In [3]:
marks = [56, 45, 35, 41, 60, 57, 56, 56]
s = pd.Series(marks)

print(s.sum())

406

* For String values, sum() works as a concatenator

In [4]:
names = ["key", "board", "bottle", "of", "water"]
s = pd.Series(names)

print(s.sum())

keyboardbottleofwater

---
## 4. count() method
* Returns the number of non-null/ non-NAN values

In [5]:
#import numpy for nan values 
import numpy as np

#list having nan (null/ not a number/ missing values)
marks = [56, 45, 35, 41, np.nan, 60, np.nan]

s = pd.Series(marks)

print(s)
print()

#counts the non null values in the Series
print("Count :", s.count())

0    56.0
1    45.0
2    35.0
3    41.0
4     NaN
5    60.0
6     NaN
dtype: float64

Count : 5

---
## 5. mean() method 
* Returns the average of the Series values

In [6]:
marks = [56, 45, 35, 41, 60, 57, 56, 56]
s = pd.Series(marks)

print(s.mean())

50.75

---
## 6. describe() method
* Returns the following
    * count
    * mean
    * std
    * min
    * 25%
    * 50%
    * 75%
    * max

In [7]:
marks = [56, 45, 35, 41, 60, 57, 56, 56]
s = pd.Series(marks)

print(s.describe())

count     8.000000
mean     50.750000
std       9.130013
min      35.000000
25%      44.000000
50%      56.000000
75%      56.250000
max      60.000000
dtype: float64

---
## 7. unique() method
* Returns unique values in the Series

In [8]:
names = ["key", "of", "bottle", "bottle", "of", "water"]
s = pd.Series(names)

print(s.unique())

['key' 'of' 'bottle' 'water']

---
## 8. nunique() method
* Returns the number of uniques values in the Series

In [9]:
names = ["key", "of", "bottle", "bottle", "of", "water"]
s = pd.Series(names)

print(s.nunique())

4

---
*That is it for today..*
*Happy Learning!!! :)*