# DataFrame Attributes
---

#### In this notebook we have:
1. len(p) function
2. columns attribute
3. shape attribute
4. size attribute
5. dtypes attribute
6. empty attribute
7. index attribute
8. values attribute
9. T attribute

---
## DataFrame Attributes brief intro:
* There are attributes that are predefined in the DataFrame class.
* We can access these attributes through DataFrame object only.
* DataFrame Attributes return information about the DataFrame object.
---

## 1. len(p) function
* To check the length of the DataFrame.
* Returns the total number of records/rows present in the DataFrame.
* Takes DataFrame object as the parameter.

In [2]:
import pandas as pd

path = "../datasets/sales1.csv"
df = pd.read_csv(path)

print(f"Length of the DataFrame is: {len(df)}")

Length of the DataFrame is: 600

---
## 2. columns attribute
* Returns all column names present in the DataFrame.

In [3]:
df.columns

Index(['Order ID', 'Customer Name', 'Product', 'Quantity'], dtype='object')

In [4]:
for col in df.columns:
    print(col)

Order ID
Customer Name
Product
Quantity

---
## 3. shape attribute
* Returns the tuple having total number of rows and columns of that DataFrame.
* Format: (row_value, col_value)

In [7]:
df.shape

(600, 4)

In [8]:
print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")

Number of Rows: 600
Number of Columns: 4

---
## 4. size attribute
* Returns the total number of values in the DataFrame.
* Calculated by: `size = number of rows * number of columns`

In [10]:
print(f"Size of the DataFrame is {df.size}")

Size of the DataFrame is 2400

---
## 5. dtypes attribute
* Returns the data type of each column of the DataFrame

In [11]:
df.dtypes

Order ID          int64
Customer Name    object
Product          object
Quantity          int64
dtype: object

---
## 6. empty attribute
* Just checks whether the DataFrame is empty or not.
* If empty returns `True` else `False`.

In [14]:
#Returns False since we have sales1 data in DataFrame.
df.empty

False

In [15]:
# Creating an Empty DataFrame
df1 = pd.DataFrame()

#Checking if its empty or not
df1.empty

True

---
## 7. index attribute
* Returns start , stop and step values of the DataFrame.

In [16]:
df.index

RangeIndex(start=0, stop=600, step=1)

---
## 8. values attribute
* Returns all the values of the DataFrame but in array format.

In [17]:
df.values

array([[166837, 'Veeru', '34in Ultrawide Monitor', 2],
       [166838, 'Tarun', 'Samsung m10', 3],
       [166839, 'Kedar', '20in Monitor', 1],
       ...,
       [167405, 'Venu', 'Flatscreen TV', 1],
       [167406, 'Siddhu', 'Samsung m20', 2],
       [167407, 'Tarun', 'LG Washing Machine', 1]],
      shape=(600, 4), dtype=object)

---
## 9. T attribute
* Transpose attribute returns (col, row) format.

In [18]:
details = [["Anjali", 20, 10000], ["Raju", 16, 20000], ["Rani", 24, 
30000], ["Mantri", 25, 40000], ["Police", 26, 50000], ["Idiot", 27, 
60000], ["Touchpad", 28, 70000]]
df = pd.DataFrame(details, columns = ["Name", "Age", "Salary"])
print(df)
print()
print(df.T)

       Name  Age  Salary
0    Anjali   20   10000
1      Raju   16   20000
2      Rani   24   30000
3    Mantri   25   40000
4    Police   26   50000
5     Idiot   27   60000
6  Touchpad   28   70000

             0      1      2       3       4      5         6
Name    Anjali   Raju   Rani  Mantri  Police  Idiot  Touchpad
Age         20     16     24      25      26     27        28
Salary   10000  20000  30000   40000   50000  60000     70000

---